// ANIMATION DISPLAY OPACITY/VISIBILITY

.display__visible {
    animation: displayVisible 250ms 1 ease forwards;
}

@keyframes displayVisible {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

.hide__base {
    visibility: hidden;
}

.hide__visible {
    animation: hideVisible 250ms 1 ease forwards;
}

@keyframes hideVisible {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

// ANIMATION DISPLAY TRANSFORM Y

.display__transformY {
    animation: displayTransformY 250ms 1 ease forwards;
}

@keyframes displayTransformY {
    0% {
        transform: translate3d(0, -100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

.hide__transformY {
    animation: hideTransformY 250ms 1 ease forwards;
}

@keyframes hideTransformY {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, -100%, 0);
    }
}

// ANIMATION LIGHTBOX

.lightbox__visible {
    animation: lightboxVisible 250ms 1 ease forwards;
}

@keyframes lightboxVisible {
    0% {
        background-color: inherit;
    }
    100% {
        background-color: $color-subblack;
    }
}

.lightbox__hidden {
    animation: lightboxHidden 250ms 1 ease forwards;
}

@keyframes lightboxHidden {
    0% {
        background-color: $color-subblack;
    }
    100% {
        background-color: inherit;
    }
}



