// ANIMATION DISPLAY DROPDOWN

.display__dropdown {
    animation: displayingDropdown 250ms 1 ease forwards;
}

@keyframes displayingDropdown {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

.hide__base__dropdown {
    visibility: hidden;
}

.hide__dropdown {
    animation: hidingDropdown 250ms 1 ease forwards;
}

@keyframes hidingDropdown {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

// ANIMATION BURGER MENU

.display__mobile__menu {
    animation: displayMobileMenu 250ms 1 ease forwards;
}

@keyframes displayMobileMenu {
    0% {
        transform: translate3d(0, -100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

.hide__mobile__menu {
    animation: hideMobileMenu 250ms 1 ease forwards;
}

@keyframes hideMobileMenu {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, -100%, 0);
    }
}
