{% extends 'base.html.twig' %}

{% block title %}David Bouscarle Photography{% endblock %}

{% block body %}

    <section class="section__home">
        <h1 class="section__home__title">David Bouscarle Photography</h1>
        <div class="section__home__btn__group">
            <a class="btn" href="/portfolio">Portfolio</a>
            <a class="btn" href="/last-work">Last Work</a>
        </div>
    </section>

{% endblock %}
