<header class="header">
    <img class="header__logo" src="./img/david_bouscarle_logo.svg" alt="Logo David Bouscarle" />
    <nav class="header__navbar">
        <button class="header__navbar__burger">
            <span class="header__navbar__burger__line"></span>
            <span class="header__navbar__burger__line"></span>
            <span class="header__navbar__burger__line"></span>
        </button>
        <ul class="header__navbar__list">
            <li class="header__navbar__item"><a class="header__navbar__link" href="#">Home</a></li>
            <li class="header__navbar__item"><a class="header__navbar__link" href="#">Last Work</a></li>
            <li class="header__navbar__item--dropdown">
                <a id="linkDropdown" class="header__navbar__link--dropdown" href="#">
                    Portfolio
                    <img id="arrowDropdown" class="header__navbar__link--dropdown--arrow" src="./img/arrow_down.svg" alt="arrow down" />
                </a>
                <ul id="navbarDropdown" class="header__navbar__dropdown hide__base__dropdown">
                    <li class="header__navbar__dropdown__list"><a class="header__navbar__dropdown__link" href="#">Serie 1</a></li>
                    <li class="header__navbar__dropdown__list"><a class="header__navbar__dropdown__link" href="#">Serie 2</a></li>
                    <li class="header__navbar__dropdown__list"><a class="header__navbar__dropdown__link" href="#">Serie 3</a></li>
                </ul>
            </li>
            <li class="header__navbar__item"><a class="header__navbar__link" href="#">News</a></li>
            <li class="header__navbar__item"><a class="header__navbar__link" href="#">About</a></li>
            <li class="header__navbar__item"><a class="header__navbar__link" href="#">Contact</a></li>
        </ul>
    </nav>
</header>