// SPACERS

$spacer-large-top: 8rem;

// FONT SIZE

$font-size-fine: 1.2rem;
$font-size-base: 1.6rem;
$font-size-large: 1.8rem;
$font-size-subtitle: 2.2rem;
$font-size-title: 2.6rem;
$font-size-bigtitle: 5rem;

// COLORS

$color-text-white: rgba(255, 255, 255, 1);
$color-text-black: rgba(0, 0, 0, 1);

// BORDER RADIUS

$border-radius: 0.25rem;

// TRANSITION

$transition: 250ms ease;