@include for-size(md) {
    .footer {
        min-height: 10rem;
        flex-direction: row;
        justify-content: space-between;

        &__copyright {        
            margin: 0;
        }

        &__social {

            &__icon {
                transition: transform $transition;
            }

            &__icon:hover {
                transform: scale3d(0.9, 0.9, 1);
            }
        }
    }
}
