@include for-size(md) {
    .header {

        &__navbar {

            &__burger {
                display: none;
            }

            &__list--mobile {
                display: none;
            }

            &__list--desktop {
                display: flex;
            }

            &__item:not(:first-child) {
                margin-left: 4rem;
            }

            &__item--dropdown {
                margin-left: 4rem;
                position: relative;
            }

            &__dropdown {
                position: absolute;
                top: 3.5rem;

                &__list:not(:first-child) {
                    margin-top: 2rem;
                }
            }
        }
    }
}