<footer class="footer">
    <p class="footer__copyright">&copy; <span id="yearCopyright"></span> - David Bouscarle Photography</p>
    <ul class="footer__social">
        <li class="footer__social__item">
            <a class="footer__social__link" href="https://www.behance.net/davidbouscarle" target="_blank">
                <img class="footer__social__icon" src="./img/david_bouscarle_behance.svg" alt="Behance David Bouscarle" />
            </a>
        </li>
        <li class="footer__social__item">
            <a class="footer__social__link" href="https://www.instagram.com/davidbouscarle" target="_blank">
                <img class="footer__social__icon" src="./img/david_bouscarle_instagram.svg" alt="Instagram David Bouscarle" />
            </a>
        </li>
        <li class="footer__social__item">
            <a class="footer__social__link" href="https://www.facebook.com/david.bouscarle" target="_blank">
                <img class="footer__social__icon" src="./img/david_bouscarle_facebook.svg" alt="Facebook David Bouscarle" />
            </a>
        </li>
        <li class="footer__social__item">
            <a class="footer__social__link" href="https://www.linkedin.com/in/davidbouscarle" target="_blank">
                <img class="footer__social__icon" src="./img/david_bouscarle_linkedin.svg" alt="Linkedin David Bouscarle" />
            </a>
        </li>
    </ul>
</footer>