.body__home {
    color: $color-text-white;
    background-image: url("../../../public/img/david_bouscarle_portfolio.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}