@include for-size(md) {
    .body__last__work {

        &__section {

            &__card {
                max-width: 70vw;

                &__description{
                    display: flex;
                    justify-content: space-between;
                }

                &__date {
                    margin-top: 0; 
                }
            }
        }
    }
}
