@include for-size(lg) {
    .body__last__work {

        &__section {

            &__card {
                
                &__photograph {
                    transition: transform $transition;
                }

                &__photograph:hover {
                    transform: scale3d(1.1, 1.1, 1.1);
                    cursor: url('../../../public/img/eye.png'), pointer;
                }
            }
        }
    }
}