.body__last__work {

    &__section {
        margin: calc(#{$spacer-large} + 10rem) 0 $spacer-large 0;

        &__title {
            margin-bottom: $spacer-large;
            text-align: center;
            font-size: $font-size-title;
        }

        &__card {
            max-width: 75vw;
            margin: 0 auto;

            &__title {
                margin-bottom: $spacer-medium;
                font-size: $font-size-subtitle;
            }

            &__title:not(first-child) {
                margin-top: $spacer-medium;
            }

            &__photograph {
                border-radius: $border-radius;
                box-shadow: $box-shadow-bottom;
            }

            &__description,
            &__date {
                margin-top: $spacer-small;
                font-size: $font-size-fine;
            }
        }
    }
}